@import "materialize/ghpages-materialize.css";

*{
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    padding-left: 0 !important;
}
footer {
    margin-top: 0 !important;
    padding-left: 0 !important;
}

.main-item {
    margin-bottom: auto;
}

.material-icons {
    font-family: 'Material Icons';
}

.fa {
    font-size: x-large;
}

.portfolio-image {
    max-width:100%;
    max-height:100%;
}

 /* Estos sobran */
/*---------------------------------------*/
.contact-image{
    background-color: aqua;
    height: 25.625em;
}

.about-image {
    background-color: aqua;
    height: 25.625em;
}
.about-image2 {
    background-color: darkcyan;
    height: 25.625em;
}
/* --------------------------------------*/